.live-display-blocks-container {
    /* Set the overall size constraints for the component */
    max-width: 320px;
    max-height: 180px;
    overflow: hidden; 
    
}

.live-parameter-grid {
    display: -webkit-flex; 
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    height: 100%;
    width: 100%;  

}

.live-parameter-cell {
    box-sizing: border-box;
    background-color: #ffffff;
    border: 1px solid #000000;

    -webkit-flex: 0 0 50%;
    flex: 0 0 50%; 

    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 5px;
    height: 60px; 
    text-align: center;
}

.parameter-name {
    font-size: 0.60rem;
    color: #555;
    margin: 0 0 3px 0; /* Space below the name */
    font-weight: 600;
    text-transform: uppercase;
    line-height: 1;
    font-family: Arial, Helvetica, sans-serif;
}

.parameter-value {
    /* Style for the actual live data value */
    font-size: 0.95rem;
    font-weight: bold;
    color: #333;
    line-height: 1;
    font-family: Arial, Helvetica, sans-serif;
}

